<div class="header">
    Sale Invoice
</div>

<div class="address">
  <div class="for">
    <h3>Invoice For</h3>
    <p>
      Cotiviti, Inc.<br /> 50 Danbury Rd.<br /> Wilton, CT
    </p>
  </div>

  <div class="from">
    <h3>From</h3>
    <p>
      Progress <br />  100 Main Rd.<br /> Newyork City, NY
    </p>
  </div>
</div>

<div class="items">
  <kendo-grid [data]="invoices" scrollable="none">
    <kendo-grid-column field="productName" title="Product">
      <ng-template kendoGridFooterTemplate>
        Total
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="unitPrice" format="{0:c}" title="Price" width="120"
                        [style]="{'text-align': 'right'}" [footerStyle]="{'text-align': 'right'}" [headerStyle]="{'text-align': 'right'}">
    </kendo-grid-column>
    <kendo-grid-column field="qty" title="Pcs." width="120"
                        [style]="{'text-align': 'right'}" [footerStyle]="{'text-align': 'right'}" [headerStyle]="{'text-align': 'right'}">
      <ng-template kendoGridFooterTemplate let-column="column">
        {{ totals[column.field].sum }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="total" format="{0:c}" title="Total" width="120"
                        [style]="{'text-align': 'right'}" [footerStyle]="{'text-align': 'right'}" [headerStyle]="{'text-align': 'right'}">
      <ng-template kendoGridFooterTemplate let-column="column">
        {{ totals[column.field].sum | kendoNumber:'c' }}
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<div class="signature">
  Signature: ________________
</div>
