<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Header -->
      <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand" href="#">Angular Demo</a>
      </nav>
    </div>
  </div>
  <div class="row" style="margin-top: 60px;">
    <div class="col-12 col-md-4 col-lg-2" style="background-color: aliceblue;">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Posts</a>
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-8 col-lg-10">
      <app-user-form></app-user-form>
    </div>
  </div>
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>